.pdfViewer-toolbar {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    min-width: 600px; 
  }
  
  .pdfViewer-toolbar button {
    margin: 0 4px;
  } 
  /* Estilo adicional para que el visor se vea bien */
  ngx-extended-pdf-viewer {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    height: 100%; /* Ocupar todo el alto del contenedor */
  }